<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">


    <!-- 开启注解 -->
    <!--<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />-->
    <!--<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"></bean>-->

    <!--注解扫描包-->
    <!--<mvc:default-servlet-handler />-->
    <context:component-scan base-package="com.hnie.forum.web.spring"/>
    <mvc:annotation-driven  conversion-service="conversionService">
        <mvc:message-converters register-defaults="true">
            <!--<bean class="com.hnie.forum.web.spring.converter.UTF8StringHttpMessageConverter"/>-->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes" value="text/html;charset=UTF-8"/>
            </bean>
        </mvc:message-converters>
        <!--<mvc:message-converters>
            <bean id="dateConverter" class="com.hnie.forum.web.spring.converter.UtilDateConverter">
                <property name="patterns">
                    <list>
                        <value>yyyy-MM-dd</value>
                        <value>yyyy/MM/dd</value>
                    </list>
                </property>
            </bean>
            &lt;!&ndash;<bean class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
                <property name="converters">
                    <set>

                    </set>
                </property>
            </bean>&ndash;&gt;
        </mvc:message-converters>-->
    </mvc:annotation-driven>
    <!--以下项不拦截，可以直接访问-->
    <mvc:resources mapping="/bootstrap-3.3.7/**" location="/bootstrap-3.3.7/*"/>
    <mvc:resources mapping="/css/**" location="/css/*"/>
    <mvc:resources mapping="/editormd/**" location="/editormd/*"/>
    <mvc:resources mapping="/images/**" location="/images/*"/>
    <!--<mvc:resources mapping="/WEB-INF/images/**" location="/images/*"/>-->
    <mvc:resources mapping="/jquery/**" location="/jquery/*"/>
    <mvc:resources mapping="/js-me/**" location="/js-me/*"/>
    <mvc:resources mapping="/posts/**" location="/posts/*"/>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    </bean>
    <!--加载页面注解解析-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsps/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--登录控制  拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/user/*"></mvc:mapping>
            <!--<mvc:mapping path="/user/allPostsManager*"></mvc:mapping>-->
            <mvc:mapping path="/user/add"></mvc:mapping>
            <mvc:mapping path="/posts/*/adit"></mvc:mapping>
            <mvc:mapping path="/posts/*/delete"></mvc:mapping>
            <mvc:mapping path="/posts/*/ajaxDelete"></mvc:mapping>
            <mvc:mapping path="/posts/*/ajaxSetTop"></mvc:mapping>
            <mvc:mapping path="/posts/add"></mvc:mapping>
            <mvc:mapping path="/posts/modify"></mvc:mapping>
            <mvc:mapping path="/upload/*"></mvc:mapping>
            <mvc:mapping path="/carousel/*"></mvc:mapping>

            <bean class="com.hnie.forum.web.spring.interceptor.LoginedInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
    
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean id="dateConverter" class="com.hnie.forum.web.spring.converter.UtilDateConverter">
                    <property name="patterns">
                        <list>
                            <value>yyyy-MM-dd</value>
                            <value>yyyy/MM/dd</value>
                        </list>
                    </property>
                </bean>
            </set>
        </property>
    </bean>

    <!--<bean id="handlerMapping" class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"/>

    <bean id="handlerAdapter" class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="webBindingInitializer" ref="webBindingInitializer"/>
    </bean>

    <bean id="webBindingInitializer" class="MyWebBindingInitializer">
        <property name="pattern" value="yyyy-MM-dd"/>
    </bean>-->


</beans>