

.user-info{
    position: relative;
    height: 150px;
    padding: 20px;
    background: #888;
}

.user-info p{
    position: absolute;
    top: 40px;
    left: 120px;
    padding-right: 20px;
    color: #fff;
    line-height: 14px;
}

.user-op{
    list-style-type: none;
    padding-left: 0px;
    background: #888;
}
.user-op li{
    padding: 13px 0;
    display: inline-block;
    width: 80px;
    text-align: center;
    color: #fff;
}


.user-op li span {
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
    color: #fff;
}


.user-op a{
    color: #FFFFFF;
}

.user-op a:hover,.user-op span:hover{
    color: #0000C0;
    text-decoration: none;
}